@import url('https://fonts.googleapis.com/css?family=Merienda');

body {
    font-family: 'Merienda', 'Times New Roman', Times, serif;
    text-align: center;
}

/* General rules for all the sections */
section {
    font-size: 1.4em;
    border-radius: 10px;
    margin: 20px 10%;
}

section a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    
}

section a div {
    display: flex;
    align-items: center;
    height: 50px;
}

/* Specific rules for the regexp section */
#regular-expressions {
    background-color: mediumslateblue;
}