@font-face {
    font-family: Branding;
    src: url(fonts/branding.ttf);
}

html {
    font-size: 18px;
}

body {
    font-family: Forte, sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header-items ul {
    margin-top: 70px;
    display: flex;
}

.header-items li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

.header-items li:nth-of-type(2) {
    flex-grow: 2;
    background: gold;
}

.header-items a {
    text-decoration: none;
    font-size: 2.5rem;
    color: coral;
}

.header-items li:nth-of-type(2) a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-items li:first-of-type a:after {
    content: "True?";
}

.header-items li:nth-of-type(2) a:after {
    content: "I am above 1024px";
}

.header-items li:last-child a:after {
    content: "False?";
}

/*MAIN*/
.main-items {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 500px;
}

.main-items h1:first-letter {
    font-size: 3rem;
    color: #604f3a;
}