@import url('https://fonts.googleapis.com/css?family=Lemonada:400,700');

body {
    background: #b7ff99;
    word-break: break-all;
}

table {
    font-family: Lemonada, sans-serif;
    margin: 250px auto;
    background: #ffffff;
    text-align: center;
}

.heading-row {
    font-weight: 700;
}

thead th {
    font-size: 2.5em;
    background: radial-gradient(ellipse at center, rgba(83,224,44,0.5) 0%,rgba(37,72,198,0.5) 34%,rgba(32,124,202,0.5) 63%,rgba(129,229,123,0.5) 100%);
    padding: 20px;
    position: relative;
}

thead img {
    position: absolute;
    width: 40%;
    top: -230px;
    left: 720px;
}

tbody tr {
    line-height: 50px;
}

tbody tr:nth-child(even) td{
    color: darkblue;
}

.image {
    width: 100px;
    height: 50px;
}

tr:nth-of-type(2) .image {
    /* the two numbers after no-repeat specify the image position from left and from top */
    background: url("images/team.jpeg") no-repeat 10px -5px;
    background-size: 70px;
}

tr:nth-of-type(3) .image {
    background: url("images/idea.png") no-repeat 30px 0;
    background-size: 40px;
}

tr:nth-of-type(4) .image {
    background: url("images/work.jpg") no-repeat 15px 0;
    background-size: 70px;
}

tbody tr:last-of-type td {
    border-bottom: 3px double #ff2528;
}

tfoot td[rowspan="2"] {
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    thead th {
        font-size: 2em;
    }

    thead img {
        width: 30%;
        top: -190px;
        left: 730px;
    }
}

@media screen and (max-width: 960px) {
    thead th {
        font-size: 1.7em;
        padding: 10px;
    }

    thead img {
        width: 250px;
        top: -210px;
        left: calc(35% + 10px);
    }

    tbody tr {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 760px) {
    thead th {
        font-size: 1.5em;
        padding: 10px;
    }

    thead img {
        width: 250px;
        top: -210px;
        left: calc(35% + 10px);
    }

    tbody tr {
        font-size: 0.6em;
    }

    tbody td {
        border: 1px solid #b7ff99;
    }
}