@font-face {
    font-family: Branding;
    src: url(fonts/branding.ttf);
}

html {
    font-size: 18px;
    background: linear-gradient(45deg,
    rgba(253, 149, 192, 0.21) 0%,
    rgba(195, 95, 204, 0.2) 38%,
    rgba(175, 104, 241, 0.2) 66%,
    rgba(175, 104, 241, 0.2) 84%,
    rgba(168, 125, 255, 0.21) 100%) no-repeat;
    height: 100%;
}

body {
    font-family: Forte, sans-serif;
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header-items ul {
    margin-top: 70px;
    display: flex;
}

.header-items li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

.header-items li:nth-of-type(2) {
    flex-grow: 2;
    background: gold;
    border-top-right-radius: 20px;
    box-shadow: 0 0 15px #ff6ba6;
}

.header-items a {
    text-decoration: none;
    font-size: 2.5rem;
    color: coral;
}

.header-items li:nth-of-type(2) a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-items li:first-of-type a:after {
    content: "True?";
}

.header-items li:nth-of-type(2) a:after {
    content: "I am above 1024px";
}

.header-items li:last-child a:after {
    content: "False?";
}

/*MAIN*/
.main-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-items h1 {
    order: 1;
}

.main-items p {
    order: 2;
}

.main-items h1:first-letter {
    font-size: 3rem;
    color: #604f3a;
}

.main-items .tiny-instruction {
    flex-basis: 70%;
    text-align: center;
    font-size: 1.1rem;
}

.main-items .tiny-instruction:first-line {
    color: rgba(92, 0, 154, 0.91);
}

form {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    order: 3;
}

.form-data input[type="text"] {
    border: 2px solid #ffaba1;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-size: 1.2rem;
    margin: 20px;
}

.form-data input[type="submit"] {
    border: 2px solid #ffaba1;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .header-items li:nth-of-type(2) a:after {
        content: "I am between 760px and 1024px";
        font-size: 1.5rem;
    }

    .header-items li a[title] {
        font-size: 1.8rem;
    }

    .main-items h1 {
        font-size: 1.5rem;
    }

    .main-items p.tiny-instruction {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 760px) {
    .header-items li:nth-of-type(2) a:after {
        content: "I am below 760px";
        font-size: 1.2rem;
    }

    .header-items li a[title] {
        font-size: 1.5rem;
    }

    .main-items p.tiny-instruction {
        font-size: 0.7rem;
        order: 3;
    }

    form.form-data {
        order: 2;
    }
}