body {
    background: -moz-linear-gradient(-45deg, 
    rgba(121, 75, 139, 0.57) 0%, 
    rgba(74, 155, 221, 0.52) 50%, 
    rgba(89, 171, 238, 0.52) 51%, 
    rgba(125,185,232,0.47) 100%);
    background: -webkit-linear-gradient(-45deg,
     rgba(121, 75, 139, 0.57) 0%,
     rgba(74, 155, 221, 0.52) 50%,
     rgba(89, 171, 238, 0.52) 51%,
     rgba(125,185,232,0.47) 100%);
     font-size: 0.8em;
}

header > h1 {
    font-family: "Times New Roman", serif;
    margin: 30px 0;
    color: green;
    font-weight: bold;
    text-shadow: 1px 1px 1px yellow;
}

span {
    color: rgb(49, 44, 44);
}

#first, #second, #third, #sixth, #howMany, #tagStep {
    background: rgb(195, 247, 195);
}

#forth, #fifth, #dotStep {
    background: yellow;
}

#create {
    border-radius: 20px;
    background: linear-gradient(90deg, 
    rgba(94, 212, 48, 0.57) 0%,  
    rgba(180, 228, 50, 0.753) 100%);
    padding: 10px 0;
    font-weight: bold;
    color: blue;
    outline: none;
    box-shadow: 3px 7px 15px yellow;
}

#create:hover {
    cursor: pointer;
    background: rgb(17, 0, 255);
    color: greenyellow;
}

#result {
    height: 500px;
    border-top-left-radius: 20px;
    outline: none;
    box-shadow: 5px 10px 15px yellowgreen;
}
