<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Working with Angular</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./angularGuides.css">
    <!-- <script src="xxx.js"></script> -->
</head>
<body>
    <h1>1. Install TypeScrypt and Angular CLI</h1>
    <ol>
        <li>
            <p>For using Angular it is a good practice to combine it with using TypeScript. To install TypeScript open command prompt and write the following <span class="cmd">npm install -g typescript</span> and press Enter.</p>
            <p class="note">Note: This step has to be done only once and it will works for all projects because we are installing it with global –g modifier which will install in the folder with all modules and not in the current project folder</p>
        </li>
        <li>
            <p>The next step is to install Angular CLI which will allow us to use commands for working with Angular. To install Angular CLI in the command prompt write the following <span class="cmd">npm install -g @angular/cli</span> and press Enter</p>
            <p class="note">Note: This step has to be done only once and it will works for all projects because we are installing it with global –g modifier which will install in the folder with all modules and not in the current project folder</p>
        </li>
    </ol>

    <h1>2. Creating new Angular project</h1>
    <ol>
        <li>
            <p>In the command prompt open the folder where you want to start the new project. And then type <span class="cmd">ng new example-project</span> and press Enter</p>
            <p class="note">Note: example-project is an example folder name where our project is created, you can specify another one if you want. Only ng new has to be the same</p>
        </li>
        <li>
            <p>Open the new created project with Visual Studio Code and you are ready to start working on the project.</p>
        </li>
    </ol>

    <h1>3. Creating Component</h1>
    <p>We can create our own new component in 2 ways: manually or using the angular cli. First we will see how to create our own new component manually.</p>
    <h2>3.1 Creating Component manually</h2>
    <ol>
        <li>
            <p>The app folder in src folder is where our components are stored</p>
            <p>We can see our main components holding the start point of project which is app.component.xxx</p>
            <pre class="directory">
    <span class="folder">src</span>
        <span class="folder">app</span> 
            app.component.css
            app.component.html
            app.component.specs.ts
            app.component.ts
            app.module.ts
            </pre>
        </li>
        <li>
            <p>We will create another folder named games in the app folder where we will store our new component. And in the new folder we will create our first needed file games.component.ts which is the typescrypt component</p>
            <p class="note">Note: Folder name “games” is example name, of course we can name our folder the way we want to easier recognize it. Same applies for the file games.component.ts where only the games part is optional and then we must write .component.ts</p>
            <p>If we have done everything correctly our directory should look like: 
                <pre class="directory">
    <span class="folder">src</span>
        <span class="folder">app</span> 
            <span class="folder">games</span>
                games.component.ts 
            app.component.css
            app.component.html
            app.component.specs.ts
            app.component.ts
            app.module.ts
                </pre>
            </p>
        </li>
        <li>
            <p> We will also create the html and css component files in the folder games which is where our new component is placed. And after we are done our directory should look like this:</p>
            <pre class="directory">
    <span class="folder">src</span>
        <span class="folder">app</span> 
            <span class="folder">games</span>
                games.component.css
                games.component.html
                games.component.ts
            app.component.css
            app.component.html
            app.component.specs.ts
            app.component.ts
            app.module.ts
            </pre>
        </li>
        <li>
            <p>Now we will add content to the file games.component.ts First we will import Component module to be able to use it. Every class component must has @Component decorator function in which we specify 3 items: The first one is selector which specify in which html element component will be rendered. Template pointing which html file will be our template. And the last property styleUrls is an array with all stylesheets we are going to use.</p>
            <pre class="code-piece">
File: games.component.ts

<span class="purple">import</span> { <span class="lblue">Component</span> } <span class="purple">from</span> <span class="brown">'@angular/core'</span>;

@<span class="yellow">Component</span>(
    {
        <span class="lblue">selector:</span> <span class="brown">'game'</span>,
        <span class="lblue">templateUrl:</span> <span class="brown">'./game.component.html'</span>,
        <span class="lblue">styleUrls:</span> [ <span class="brown">'./game.component.css'</span> ]
    }
)
<span class="purple">export</span> <span class="blue">class</span> <span class="green">GameComponent</span> {
    <span class="lblue">title</span>: <span class="green">string</span> = <span class="brown">"Assassin's Creed"</span>
}
            </pre>
        </li>
        <li>
            <p>We have created our component but the starting point of the project doesn’t know yet so we have to specify it in the app.module.ts file. Before we write anything in it by default it looks like this:</p>
            <pre class="code-piece">
File: app.module.ts
                    
<span class="purple">import</span> { <span class="lblue">BrowserModule</span> } <span class="purple">from</span> <span class="brown">'@angular/platform-browser'</span>;
<span class="purple">import</span> { <span class="lblue">NgModule</span> } <span class="purple">from</span> <span class="brown">'@angular/core'</span>;

<span class="purple">import</span> { <span class="lblue">AppComponent</span> } <span class="purple">from</span> <span class="brown">'./app.component'</span>;

@<span class="yellow">NgModule</span>({
    <span class="lblue">declarations:</span> [
        <span class="lblue">AppComponent</span>
    ],
    <span class="lblue">imports</span> [
        <span class="lblue">BrowserModule</span>
    ],
    <span class="lblue">providers:</span> [],
    <span class="lblue">bootstrap:</span> [<span class="lblue">AppComponent</span>]
})
<span class="purple">export</span> <span class="blue">class</span> <span class="green">AppModule</span> { }
            </pre>
            <p>Now lets tell angular about our new component by importing it and also specify it in the declarations property</p>
            <pre class="code-piece">
File: app.module.ts
                                        
<span class="purple">import</span> { <span class="lblue">BrowserModule</span> } <span class="purple">from</span> <span class="brown">'@angular/platform-browser'</span>;
<span class="purple">import</span> { <span class="lblue">NgModule</span> } <span class="purple">from</span> <span class="brown">'@angular/core'</span>;
                    
<span class="purple">import</span> { <span class="lblue">AppComponent</span> } <span class="purple">from</span> <span class="brown">'./app.component'</span>;
<span class="purple">import</span> { <span class="lblue">GameComponent</span> } <span class="purple">from</span> <span class="brown">'./games/games.component'</span>;
                    
@<span class="yellow">NgModule</span>({
    <span class="lblue">declarations:</span> [
        <span class="lblue">AppComponent</span>,
        <span class="lblue">GameComponent</span>
    ],
    <span class="lblue">imports</span> [
        <span class="lblue">BrowserModule</span>
    ],
    <span class="lblue">providers:</span> [],
    <span class="lblue">bootstrap:</span> [<span class="lblue">AppComponent</span>]
})
<span class="purple">export</span> <span class="blue">class</span> <span class="green">AppModule</span> { }
            </pre>
            <p>We have our component ready but we still need to add content to the html file.</p>
        </li>
        <li>
            <p>In our ts component file we have specified property title so lets use it in the html. We have only one h1 tag holding the title property from ts file. Using double curly brackets like this is called data binding, meaning that we get data from the ts file and use it in our html template</p>
            <pre class="code-piece">
File: games.component.html
            
    &lt;<span class="blue">h1</span>&gt;{{title}}&lt;/<span class="blue">h1</span>&gt;
            </pre>
        </li>
        <li>
            <p>The next step is to use the selector from our ts component file in the parent html template where we want our component to be rendered. In our ts file we named our selector 'game' so to render it we need to name the html element 'game'. We will render it in the parent html file which is app.component.html We will remove some of the html elements from it to make it more simple looking and make it look like this:</p>
            <pre class="code-piece">
File: app.component.html
                                
    &lt;<span class="blue">div</span> <span class="lblue">style</span>=<span class="brown">"text-align:center"</span>&gt;
        &lt;<span class="blue">h1</span>&gt;
            Welcome to {{title}}!
        &lt;/<span class="blue">h1</span>&gt;
        &lt;<span class="blue">img</span> <span class="lblue">width</span>=<span class="brown">"300"</span> <span class="lblue">alt</span>= .....&gt;
    &lt;/<span class="blue">div</span>&gt;
    &lt;<span class="blue">game</span>&gt;&lt;/<span class="blue">game</span>&gt;
            </pre>
        </li>
        <li>
            <p>And now to display everything we have created so far let's run the project. We do that by typing <span class="terminal">ng serve --open</span></p>
            <p>If we have done everything correctly so far in the broswer we should see the following screen</p>
            <div class="image-ctr">
                <img src="./images/screenPart.PNG" alt="angularScreen">
            </div>
            <p class="note">Note: --open part of the command is to also open the project in the browser, without it we have to open it manually usually on localhost:4200</p>
        </li>
    </ol>

    <h2>3.2 Creating Component with the CLI</h2>
    <ol>
        <li>
            <p>To create component with the CLI go to the Visual studio code terminal and type <span class="terminal">ng generate component about</span> and press Enter. Keep in mind only ng generate component has to be the same and "about" is random name of how we want to name our new component</p>
            <div class="image-ctr">
                <img src="./images/01.PNG" alt="img">
            </div>
            <p>And now our directory should look like this:</p>
            <div class="image-ctr">
                <img src="./images/02.PNG" alt="img">
            </div>
            <p>And that's it, the angular CLI created for us html, css and ts component files plus specs file used for unit testing. And also imported our new module in the app.module.ts file </p>
        </li>
    </ol>

    <h1>Using *ngFor and *ngIf examples</h1>
    <ol>
        <li>
            <p>For this example we will use a component games created for example purpose. In the component we created few files html, css and ts component files plus one more file named games.ts. Here is it's content. As you can see other than component files we can have some other holding some of the logic we want to use. In this case we have file holding a class which adds some functionality to be used in the component.</p>
            <div class="image-ctr">
                <img src="./images/03.PNG" alt="img">
            </div>
        </li>
        <li>
            <p>Next we will work on our ts component file. In it we design what our component will do. In this case it will use the class from game.ts file to create array of games data and we will use the data to show how *ngFor works. Here is how our ts component file should look for this example:</p>
            <div class="image-ctr">
                <img src="./images/04.PNG" alt="img">
            </div>
        </li>
        <li>
            <p>And now we will work in our html component file where we use *ngFor on the elements we want. As you can see we use for loop on the games array, games array is created in the constructor of our ts component file and each element in our games array is an object with properties title, publisher and price as designed in the games.ts file.</p>
            <div class="image-ctr">
                <img src="./images/05.PNG" alt="img">
            </div>
            <p>Note that we use *ngFor as property in the li element and the data binding is in the body of the element. We have 3 elements in the games array and for each we will visualize it's title property in a li tag. And our result should look like this:</p>
            <div class="image-ctr">
                <img src="./images/06.PNG" alt="img">
            </div>
        </li>
        <li>
            <p>Now we will use the example to also show how *ngIf works. Again in the html template we will add span element and use *ngIf in it. Note that span tag is in the li tag so span element can see the game object because game comes from games array which is in the li element</p>
            <div class="image-ctr">
                <img src="./images/07.PNG" alt="img">
            </div>
            <p>And here is visualized result. As you can see for elements where if condition is false the span element is not rendered. The orange color comes from stilizations from the component css file</p>
            <div class="image-ctr">
                <img src="./images/08.PNG" alt="img">
            </div>
        </li>
    </ol>

    <h1>Attach events examples</h1>
    <ol>
        <li>
            <p>In our component html file we will add button element and will attach click event on it. We will create div element with some text and set false value for *ngIf and on click event will change the value of variable contentIsShown to true so the div element to be displayed. Here is our html component file:</p>
            <div class="image-ctr">
                <img src="./images/09.PNG" alt="img">
            </div>
            <p>And now in our ts component file in the constructor we will set variable contentIsShown to false. Then we create the function showContent which will be triggered on click event and will set contentIsShown to true after button is clicked</p>
            <div class="image-ctr">
                <img src="./images/10.PNG" alt="img">
            </div>
            <p>And here is the result after button is clicked:</p>
            <div class="image-ctr">
                <img src="./images/11.PNG" alt="img">
            </div>
        </li>
    </ol>


    <footer>
        <h4>Here is a legend for what most of stylings stand for</h4>
        <p><span class="folder">example</span> - refers to a folder name</p>
        <p><span class="cmd">example</span> - refers to something you type in the windows command prompt</p>
        <p><span class="terminal">example</span> - refers to something you type in the terminal in Visual studio code</p>
    </footer>
</body>
</html>