@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');

body {
    background-color: coral;
    font-family: "Rubik Mono One", Geneva, Tahoma, sans-serif !important;
    font-size: 1.1em;
}

.info {
    font-size: 1.1em;
    color: white;
}


