{{> navigation}}

<main>
    <form action="#/addRecipe" method="post">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <span class="profile-img">
                    <i class="fas fa-cookie-bite" style='font-size:120px'></i>
                </span>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="form-group">
                    <div class="input-group mb-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-signature"></i>
                            </span>
                        </div>
                        <input class="form-control" placeholder="Name" required name="name" type="text" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-align-left"></i>
                            </span>
                        </div>
                        <textarea class="form-control" rows="2" placeholder="Description" name="description" type="text"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="far fa-file-image"></i>
                            </span>
                        </div>
                        <input class="form-control" placeholder="Image URL" required name="imageUrl" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-flask"></i>
                            </span>
                        </div>
                        <select class="form-control" type="text" name="category">
                            <option disabled>Choose category</option>
                            <option>Muffins</option>
                            <option>Cakes</option>
                            <option>Soups</option>
                            <option>Drinks</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">
                                <i class="fas fa-list-ul"></i>
                            </span>
                        </div>
                        <textarea class="form-control" rows="2" placeholder="Ingredients" required name="ingredients" type="text"></textarea>
                    </div>
                    <p>Separate ingredients with semicolon ";"</p>
                </div>
                <div class="form-group">
					<input type="submit" class="btn btn-lg btn-success btn-block submit" value="Add recipe" >
				</div>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>     
    </form>
</main>

{{> footer}}
 