@import url('https://fonts.googleapis.com/css?family=Merienda:400,700');

body {
    font-family: Merienda, 'Times New Roman', Times, serif;
}

#alt-tool {
    display: flex;
    justify-content: center;
    background-color: #6a43d4da;
}

#alt-tool a {
    text-decoration: none;
    color: darkorange;
    border: 1px solid darkorange;
    padding: 2px 4px;
    margin: 2px;
    border-radius: 5px;
}

#alt-tool a:hover {
    background-color: #f3eb7f;
}

section.all {
    padding: 9% 5% 12% 5%;
    background-image: url('./items/back5.png');
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    min-height: 900px;
}

table th, table td {
    border: 1px solid green;
    font-size: 0.9em;
}

table td {
    font-size: 0.8em;
}

.stat-yes-red {
    background-color: red;
    text-align: center;
}

.stat-yes-red:before {
    content: "\02C5";
    margin-right: 6px;
}

.stat-yes-green {
    background-color: green;
    text-align: center;
}

.stat-yes-green:before {
    content: "\02C4";
    margin-right: 6px;
}

.stat-no {
    background-color: white;
    text-align: center;
}

.stat-no:before {
    content: "\02D7";
    margin-right: 6px;
}

.error {
    background-color: red;
}

.error::placeholder {
    color: white;
}

.all > article {
    display: flex;
    justify-content: center;
}

article {
    margin: 10px;
}

button {
    background: radial-gradient(ellipse at center,
     rgb(123, 48, 244) 0%,rgb(229, 195, 82) 100%);
     color: white;
     font-weight: bold;
     border: 1px solid green;
     border-radius: 20px;
     cursor: pointer;
     padding: 8px 25px;
     outline: none !important;
     text-shadow: 1px 1px 1px black;
     font-size: 1.1em;
     font-family: Merienda;
}

#addMore {
    background: radial-gradient(ellipse at center,
     rgba(125, 11, 201, 0.884) 0%,rgb(82, 219, 229) 100%);
     font-size: 1.4em;
     padding: 3px 11px;
}

table th, table td {
    padding: 3px;
}

/* animations */

@keyframes bottomBorder {
    0% {
        border-color: darkorange;
    }
    50% {
        border-color: #c9e432; 
    }
    100% {
        border-color: darkorange;
    }
}



input.animatedField, textarea.animatedField {
    border-color: #c9e432;
    animation-name: bottomBorder;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    outline: none;
}

#base-sizes-area {
    flex-wrap: wrap;
}

#percent-values-area {
    flex-wrap: wrap;
    
}


@keyframes noticeIt {
    0% {
        background-color: yellow;
    }
    100% {
        background-color: darkorange;
    }
}

.notice {
    background-color: white;
    animation-name: noticeIt;
    animation-duration: 0.5s;
}


.sigDiffOthersGreen {
    background-color: green;
}

.sigDiffOthersRed {
    background-color: red;
}

.sigDiffThis {
    cursor: cell;
}

/* highlight low base sizes */
@keyframes lowBase {
    0% {
        color: red;
    }
    100% {
        color: white;
    }
}

span.low-base {
    color: white !important;
    animation-name: lowBase;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

