.navigation nav {
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    margin: 15px 15px 0 15px;
    border-bottom: 2px solid transparent;
}

.navigation li:hover {
    border-bottom: 2px solid darkslategrey;
}

.navigation a {
    text-decoration: none;
    color: darkslategrey;
    text-shadow: 0px 0px 20px lightsteelblue;
}

#logo {
    font-size: 2em;
}
